mixin selector(options = {})
  -
    let listClassName = 'selector__list';
    let currentListClassName = '';

    currentListClassName += options.positionX ? ` ${listClassName}_${options.positionX}` : '';
    currentListClassName += options.positionY ? ` ${listClassName}_${options.positionY}` : '';

    listClassName += currentListClassName;


    const { items, selected = 0 } = options;
    const selectedName = items[selected].name;

  .selector
    .selector__button-wrapper
      button.selector__button=selectedName
    .selector__wrapper
      ul(class=listClassName)
        each item, index in items
          - const { name, value, order } = item;
          li.selector__item(
            data-id=index
            data-value=value
            data-order=order
            tabindex=0
          )=name

      .selector__scrim