mixin card(options = {})
  .card(data-id=options.id data-element="card")
    .card__image-wrapper
      img.card__image(
        src=options.img
        alt=options.altText
        loading="lazy"
        width="278",
        height="278"
      )
    .card__title-wrapper
      h3.card__title=options.title
    .card__bottom-wrapper
      .card__price-wrapper
        span.card__price=options.price
        span.card__currency=' ' + options.currency
      .card__actions-wrapper
        button.card__cart-button(data-element="cartIncrement") +
