mixin glide(images, options = {})
  -
    const defaultOptions = { perView: 1, arrows: true, dots: true };
    const settings = { ...defaultOptions, ...options };

  .glide.js-glide
    .glide__track(data-glide-el="track")
      .glide__slides
        each img in images
          .glide__slide
            img.glide__image(
              src=img.src,
              alt=img.alt,
              loading="lazy"
              width="1920",
              height="560"
            )

    if settings.arrows
      .glide__arrows(data-glide-el="controls")
        button.glide__arrow.glide__arrow--left(data-glide-dir="<")
        button.glide__arrow.glide__arrow--right(data-glide-dir=">")

    if settings.dots
      .glide__bullets(data-glide-el="controls[nav]")
        each _, index in images
          button.glide__bullet(data-glide-dir=index)